* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: calibri;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/* Heading  */

.heading {
	width: 100%;
	height: 54px;
	background: white;
	z-index: 10;

	display: flex;
	justify-content: space-around;
}

.logo {
	color: #2a2e31;
	font-size: 20px;
	font-weight: 900;
	margin-top: 12px;
	cursor: pointer;
}

.nav {
	width: 400px;
	color: #696d6e;

	display: flex;
	justify-content: space-around;
}

.nav-bar p {
	height: 100%;
	width: 100%;
	padding: 15px;
	cursor: pointer;
	position: relative;
}

.dropdown-about {
	display: none;
	width: 200px;
	background: white;
	position: absolute;
}

.nav-bar p:hover {
	background: #f4f4f4;
}

.dropdown-bar p:hover {
	background: grey;
	color: white;
}


/* Slider  */

.slider-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slider {
	display: flex;
	width: 100%;
}

.slider .img {
	width: 100%;
	flex-shrink: 0;
}

.slider .img img {
	width: 100%;
}

.slider .img .text {
	width: 48%;
	background: rgba(0, 0, 0, .5);
	font-size: 250%;
	font-weight: 900;
	color: white;
	margin: 0 300px;
	padding: 15px;

	position: absolute;
	top: 67%;
}


.bubble-buttons {
	display: flex;
	justify-content: center;
	column-gap: 8px;

	width: 100%;
	height: 20px;
	background: transparent;
	z-index: 1000;

	position: absolute;
	bottom: 20px;
}

.bubble {
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 50%;
	opacity: .3;
}


#prevBtn {
	color: white;
	transform: scale(3);
	opacity: .7;
	cursor: pointer;
	z-index: 100;

	position: absolute;
	top: 50%;
	left: 2%;
}

#nextBtn {
	color: white;
	transform: scale(3);
	opacity: .7;
	cursor: pointer;
	z-index: 100;

	position: absolute;
	top: 50%;
	right: 2%;
}

#prevBtn:hover {
	opacity: 1;
}

#nextBtn:hover {
	opacity: 1;
}


/* Our Values  */

.our-values {
	width: 100%;
	padding: 100px;

	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
}

h1 {
	font-size: 200%;
	margin: auto;
}

.values {
	display: flex;
	justify-content: center;
	column-gap: 40px;

	color: white;

	position: relative;
}

.innovative {
	width: 370px;
	height: 300px;
	background: #e97b6e;
	text-align: center;
	padding: 40px;
	border: solid 2px #df4432;

	display: flex;
	flex-direction: column;
	align-items: center;

	z-index: 1001;
}
.loyalty {
	width: 370px;
	height: 300px;
	background: #6a996f;
	text-align: center;
	padding: 40px;
	border: solid 2px #48704d;

	display: flex;
	flex-direction: column;
	align-items: center;

	z-index: 1002;
}
.respect {
	width: 370px;
	height: 300px;
	background: #5696c2;
	text-align: center;
	padding: 40px;
	border: solid 2px #2f71a1;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.values img {
	transform: scale(.7);
}

.values h2 {
	margin-bottom: 20px;
}

.box-arrow-innovative {
	width: 40px;
	height: 40px;
	background: #df4432;

	transform: rotate(45deg);

	position: absolute;
	top: 43%;
	left: 340px;
}

.box-arrow-loyalty {
	width: 40px;
	height: 40px;
	background: #48704d;

	transform: rotate(45deg);

	position: absolute;
	top: 43%;
	left: 750px;
}


/* Contact Us  */

.form-contact-us {
	width: 100%;
	margin-top: 50px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	width: 500px;

	display: flex;
	flex-direction: column;
}

label {
	text-align: left;
	margin-top: 20px;
}

input {
	width: 100%;
	font-size: 20px;
}

textarea {
	width: 100%;
	font-size: 20px;
}

.submit {
	padding: 8px;
	margin-top: 20px;
	background: #5696c2;
	border: none;
	color: white;
	margin-bottom: 90px;
}


/* Footer  */

.footer {
	background: #333333;
	color: white;
	padding: 30px 0 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-media img {
	transform: scale(.5);
	cursor: pointer;
}